#alerts-container {
    position: fixed;
    top: 10%;
    width: 50%;
    left: 25%;
    text-align: center;
}

.bg-warning-imp {
    background-color: rgba(255, 224, 0, 0.64) !important;
}

.bg-danger-imp {
    background-color: rgba(255, 0, 0, 0.48) !important;
}

.bg-success-imp {
    background-color: rgba(33, 212, 0, 0.65) !important;
}